:root {
    --background-color: #fccc5b;
    --limpar-input-pesquisa-geral: none;
    --selacao-de-perfil: flex;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: #FAFAFA;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    height: 100vh;
    background-color: #161717;
    display: flex;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1D1F1F;
    height: 100%;
    width: 75px;
}

nav .area-icon {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background-color: #2a2a2a;
    border-radius: 50px;
    margin: 12px;
}

nav .perfil-icon {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 12px;
    transition: 0.3s;
    cursor: pointer;
}

nav .perfil-icon svg {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 1px solid #525252;
    fill: #aeaeae;
    background-color: #2a2a2a;
}

nav .perfil-icon:hover {
    background-color: #2a2a2a;
}

main {
    flex-grow: 1;
    display: flex;
}

h1 {
    width: 100%;
    padding: 20px 15px;
    font-size: 1.5rem;
    font-weight: 600;
}

.conversas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 500px;
    border-right: 1px solid #393939;
    border-left: 1px solid #393939;
}

.conversas .barra-pesquisa {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 58, 58);
    width: 90%;
    height: 40px;
    border-radius: 50px;
}

.conversas .barra-pesquisa svg {
    fill: #B6B6B6;
}

.conversas .barra-pesquisa svg:nth-child(3) {
    display: var(--limpar-input-pesquisa-geral);
    cursor: pointer;
}

.conversas .barra-pesquisa input {
    padding: 0 10px;
    color: white;
    flex-grow: 1;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    caret-color: white;
}

.conversas .barra-pesquisa input::placeholder {
    color: #B6B6B6;
}

.conversas .contatos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.conversas .contatos .contato {
    display: flex;
    align-items: center;
    height: 70px;
    width: 475px;
    flex-grow: 1;
    border-radius: 14px;
    transition: 0.2s;
}

.conversas .contatos .contato:hover {
    cursor: pointer;
    background-color: rgb(57, 57, 57);
}

.conversas .contatos img,
.conversa-contato .barra-superior img {
    max-height: 45px;
    max-width: 45px;
    border-radius: 50px;
    background-color: rgb(45, 45, 45);
    margin: 0 13px;
}

.conversas .contatos .foto-placeholder,
.conversa-contato .barra-superior .foto-placeholder {
    color: #B6B6B6;
    border: 1px solid #535353;
}

.conversas .contatos .info {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.conversas .contatos .info .descricao {
    font-size: 0.9rem;
    color: #B6B6B6;
}

.conversa-contato {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--background-color);
}

.conversa-contato .barra-superior {
    display: flex;
    align-items: center;
    max-height: 70px;
    min-height: 70px;
    flex-grow: 1;
    background-color: #161717;
}

.conversa-contato .barra-superior:hover {
    cursor: pointer;
}

.conversa-contato .barra-superior .info-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.conversa-contato .barra-superior .info-contato .nome {
    font-size: 1.1rem;
    font-weight: 600;
}

.conversa-contato .barra-superior .info-contato .descricao {
    font-size: 0.8rem;
    color: #B6B6B6;
}

.conversa-contato .area-digitacao {
    display: flex;
    height: 60px;
    background-color: #2a2a2a;
    margin: 0 15px 15px 15px;
    border-radius: 50px;
}

.conversa-contato .area-digitacao input {
    flex-grow: 1;
    margin-left: 30px;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
    color: white;
    caret-color: white;
}

.conversa-contato .area-digitacao .botao-enviar {
    width: 46px;
    height: 46px;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #565656;
    border-radius: 50px;
    transition: 0.2s;
}

.conversa-contato .area-digitacao .botao-enviar.contem-texto {
    background-color: rgb(0, 255, 115);
    cursor: pointer;
}

.conversa-contato .area-digitacao .botao-enviar.contem-texto:hover {
    transform: scale(1.05);
}

.conversa-contato .area-digitacao .botao-enviar svg {
    fill: rgb(141, 141, 141);
}

.conversa-contato .area-digitacao .botao-enviar svg.contem-texto {
    fill: black;
}

.conversa {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 0 60px;
}

.conversa .area-texto {
    display: flex;
    align-items: center;
    max-width: 60%;
    width: fit-content;
    padding: 0 8px;
    margin: 5px 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: #444444;
}

.conversa .area-texto.minha-mensagem {
    justify-self: end;
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: #1c5b46;
}

.conversa .mensagem {
    padding: 8px 0;
}

.conversa .horario {
    align-self: self-end;
    font-size: 0.7rem;
    color: #B6B6B6;
    margin-left: 8px;
    margin-bottom: 4px;
}

.mensagem-iniciar-conversa {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: #121313;
    color: #B6B6B6;
    user-select: none;
}

.selecionar-perfil {
    display: var(--selacao-de-perfil);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1D1F1F;
    z-index: 100;
}

.selecionar-perfil .perfis {
    display: flex;
    gap: 30px;
}

.selecionar-perfil .perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.selecionar-perfil .perfil:hover {
    transform: scale(1.1);
}

.selecionar-perfil>p {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.selecionar-perfil .perfil img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(57, 57, 57);
}